@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/* STYLE */

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: white;
  height: 100%;
  margin: 0;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  line-height: 1.6;
  text-align: center;
}
body#bg-img {
  background-image: url("../img/back.jpg");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}
body#bg-img:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgba(45, 45, 45, 0.9);
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
}
h1.lg-heading,
h2.lg-heading,
h3.lg-heading {
  font-size: 6rem;
  color: white;
}
a {
  color: white;
  text-decoration: none;
}
#home .lg-heading {
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

h1.sm-heading,
h2.sm-heading,
h3.sm-heading {
  color: white;
  margin-bottom: 2rem;
  padding: 0.2rem 1rem;
  background: rgba(73, 73, 73, 0.5);
}
.lg-heading-content {
  color: #45474a;
  font-size: 2.5em;
  margin: 5rem auto 0.5rem;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 6rem;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

.heading-underline {
  width: 5rem;
  height: 0.2rem;
  background-color: #18a062;
  margin: 0 auto 2rem;
}

#home .sm-heading {
  animation-name: moveInRight;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: #18a062;
}

main {
  min-height: calc(100vh - 60px);
}

main .icons {
  margin-top: 1rem;
}
main .icons a {
  padding: 0.4rem;
  transition: all 0.5s ease-out;
}
main .icons a:hover {
  color: #18a062;
}
main#home {
  overflow: hidden;
}
main#home h1 {
  margin-top: 12vh;
}

main .icon-arow i {
  font-size: 2rem;
  margin-top: 8rem;
}

.about-info {
  display: grid;
  grid-gap: 30px;
  font-size: 1.2rem;
  color: #616161;
  grid-template-areas: "bioimage bioimage bio bio" "job1 job2 job2 job3";
  grid-template-columns: repeat(4, 1fr);
  padding: 2rem 5rem 0 5rem;
}
.about-info h3 {
  color: #45474a;
  font-size: 1.5;
  font-weight: bold;
}
.about-info .bio-image {
  grid-area: bioimage;
  margin: auto auto 3rem auto;
  border-radius: 50%;
  border: #18a062 3px solid;
}
.about-info .bio {
  grid-area: bio;
  font-size: 1.4rem;
}
.about-info .job-1 {
  grid-area: job1;
}
.about-info .job-2 {
  grid-area: job2;
}
.about-info .job-3 {
  grid-area: job3;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
  display: grid;
}
.header-gallery {
  width: 100%;
  text-align: center;
  height: 3.5rem;
  box-shadow: 7px 12px 29px 0 rgb(128, 128, 128, 0.11);
}
.header-gallery ul {
  padding-left: 0px !important;
  margin: auto;
}

.menu-gallery ul li {
  list-style: none;
  display: inline-block;
  margin: 15px 10px;
  padding-right: 5px;
}

.menu-gallery ul li a {
  display: inline-block;
  font-size: 1.3rem;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #45474a;
}

.menu-gallery ul li a:hover {
  color: green;
}
.menu-gallery ul li a.active {
  color: green;
}

.content {
  width: 100%;
  float: left;
  display: inline-block;
  padding: 80px 0;
}

.card {
  width: 31%;
  float: left;
  margin: 1%;
  border: 1px solid gray;
  border-radius: 3px;
  cursor: pointer;
}
.card img {
  display: block;
  width: 100%;
}

.card:hover .post-s {
  width: 100%;
}

.post-s {
  width: 0px;
  height: 100%;
  background: rgba(89, 131, 134, 0.71);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.1s ease;
  top: 0;
}

.btn,
.btn-dark,
.btn-light {
  padding: 0.5rem 1rem;
  border: 0;
  margin-right: 10px;
  border-radius: 4px;
}
.btn:hover,
.btn-dark:hover,
.btn-light:hover {
  background: #18a062;
  color: #fff;
}

.btn-dark {
  background: black;
  color: #fff;
}

.btn-light {
  background: #c4c4c4;
  color: #333;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 0.9rem;
}
.boxes div {
  font-size: 2rem;
  /* border: 1px solid gray; */
  padding: 1.5rem 2.5rem;
  margin-bottom: 3rem;
  transition: all 0.5s ease-out;
  border-radius: 5px;
}
.boxes div:hover {
  padding: 0.5rem 1.5rem;
  background: #18a062;
  color: #fff;
}
.boxes div:hover span {
  color: #fff;
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: #fff;
  color: #45474a;
  height: 60px;
}

@media screen and (max-width: 768px) {
  main {
    align-items: center;
    text-align: center;
  }
  main .lg-heading {
    line-height: 1;
    margin-bottom: 1rem;
  }

  .about-info {
    grid-template-areas: "bioimage" "bio" "job1" "job2" "job3" "job4";
    grid-template-columns: 1fr;
    padding: 2rem 2rem 0 2rem;
  }
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
  .arrow {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 500px) {
  .about-info {
    grid-template-areas: "bioimage" "bio" "job1" "job2" "job3" "job4";
    grid-template-columns: 1fr;
    padding: 2rem 2rem 0 2rem;
  }
  main #home h1 {
    margin-top: 10vh;
  }
  main .lg-heading {
    margin-top: 1rem;
    font-size: 5rem;
  }
  .projects {
    grid-template-columns: 1fr;
  }
  .arrow {
    margin-top: 3rem;
  }
  .menu-gallery ul {
    padding-left: 0;
  }
}
